## Dependicies 

* Juypter 1.0.0
* Matplotlib 2.1.0
* MKL 2017.0.4
* Numpy 1.13.3
* Pandas 0.20.3
* Python 3.6.3
* Seaborn 0.8.0
* Theano 1.0.1
* PYMC3 3.2

## Below various libraries are imported

% matplotlib inline is a magic function so that graphs are displayed within the notebook 
* Matplotlib is for visualization
* Numpy is for multidimensional arrays and matricies 
* Pandas is for data manipulation and analysis
* Pymc3 is for Bayesian statistical modeling
* Seaborn is another plotting/visualization package based on matplotlib and is used mainly for stat visualization

In [2]:
% matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pymc3 as pm
import seaborn as sns

In [3]:
# Initialize i as second year. Doing this for while loop a few lines below 
i = 1982
# avgMonth will end up holding the averages for each month over the 37 years
avgMonth = []
# JanuaryData will hold all the January values
JanuaryData = []
# DecemberData will hold all the December values 
DecemberData = []
# regYrStart and end are lists that determine where to slice the dataframe in order to average each month's data
regYrStart = [0,31,59,90,120,151,181,212,243,273,304,334]
regYrEnd = [31,59,90,120,151,181,212,243,273,304,334,365]
# leapYrStart and end are lists that are used when leap years occur (9 times over the 37 years)
leapYrStart = [0,31,60,91,121,152,182,213,244,274,305,335]
leapYrEnd = [31,60,91,121,152,182,213,244,274,304,334,365]

In [4]:
""" I'm using read_table to convert the data into a pandas dataframe
In this case x will be the data for the year 1981
The first paramter is the location of the data, the second is how to seperate the data, which in this case is 
separated by |.
The final parameter is telling pandas to skip the first 3 rows of the data since the labels are not needed
"""
x = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/1981/Population.Heating.txt", delimiter="|", skiprows=[0,1,2])
# Below I am changing the region column as the index instead of the standard 0, 1, ... n
x = x.set_index('Region')

In [5]:
# Let's look over the first year's dataframe. It has 365 columns which is good since this year is not a leap year
x

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,19811222,19811223,19811224,19811225,19811226,19811227,19811228,19811229,19811230,19811231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,40,32,31,34,39,37,36,32,38,44
2,45,42,50,59,56,47,42,51,56,52,...,38,25,28,32,36,34,32,30,37,39
3,36,43,51,62,59,48,49,57,55,57,...,34,36,41,41,36,35,38,45,48,39
4,33,40,46,55,47,39,47,48,48,54,...,36,44,44,42,39,41,47,53,48,44
5,24,23,26,27,34,31,23,30,31,31,...,21,9,12,16,20,19,18,16,21,22
6,24,29,28,30,42,36,32,39,35,37,...,20,15,27,29,24,21,20,22,30,26
7,14,17,17,18,22,18,19,20,18,18,...,6,16,23,26,20,16,13,19,20,16
8,22,22,23,23,24,26,26,28,28,27,...,29,38,38,33,33,32,35,33,29,29
9,14,16,14,15,14,15,17,18,17,16,...,21,22,21,20,19,19,21,21,19,20
CONUS,28,29,33,37,38,33,31,36,37,36,...,26,24,27,28,28,26,27,28,31,29

In [6]:
""" jan_range and dec_rangeReg and Leap are for slicing the 1981-2017 data for both Janaury and December
(JanuaryData and DecemberData)
The for loop puts all the January and December days into their respective lists for the 1981 data, while
the while loop in two lines will take care of the rest
"""
jan_range = range(0,31)
dec_rangeReg = range(334,365)
dec_rangeLeap = range(335,366)
for k in jan_range:
    JanuaryData.append(x.iloc[9,k])
for k in dec_rangeReg:
    DecemberData.append(x.iloc[9,k])

In [7]:
""" The year 1981 is not a leap year so I'm going to slice over the dataframe for each month using the regular 
year slices and average each month before playing the average into the avgMonth list. 
iloc is used for integer based slicing and since I only care about the mean CONUS data, I'm doing to keep only 
the last row (ie 9). j and k are taken from regYrStart and regYrEnd in order to gather the data for each month 
"""
for j, k in zip(regYrStart, regYrEnd):
            z = x.iloc[9,j:k]
            avgMonth.append(z.mean())

Note the while loop below contains the longest runtime out of all the lines in the program

In [8]:
# I've loop up the 9 leap years and placed them in a list
leapYears = [1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]
"""
Now I'm using a while loop to add the rest of the years (1982-2017) to the dataframe and this will be called
result. Also, I've included a for loop to gather the rest of the months' averages with a nested loop statment 
to keep track of the leap years
"""
while(i < 2018):
    # Gather year data from site and convert it into a dataframe like before 
    y = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/%d/Population.Heating.txt" %(i), delimiter="|", skiprows=[0,1,2])
    # set the index as the region column like I did before
    y = y.set_index('Region')
    """The pandas concat feature will join the first dataframe (for the first iteration result will contain
    1981 and 1982. Each successive iteration will add the subsequent year to the dataframe. Axis = 1 means the
    dataframe will be joined along the columns versus axis = 0, which joins the two dataframes by the index
    """
    result = pd.concat([x,y], axis=1)
    # The line below allows the next year to be addded to the result dataframe
    x = result
    """The statments below check if the year is a leap year or not. After that, all the January and December
    days are added to their respective lists and the mean of each month over the year is placed in the 
    avgMonth list.
    """
    if(i in leapYears):
        for j, k in zip(leapYrStart, leapYrEnd):
            z = y.iloc[9,j:k]
            avgMonth.append(z.mean()) 
        for k in jan_range:
            JanuaryData.append(y.iloc[9,k])
        for k in dec_rangeLeap:
            DecemberData.append(y.iloc[9,k])
    else:
        for j, k in zip(regYrStart, regYrEnd):
            z = y.iloc[9,j:k]
            avgMonth.append(z.mean())
        for k in jan_range:
            JanuaryData.append(y.iloc[9,k])
        for k in dec_rangeReg:
            DecemberData.append(y.iloc[9,k])
    i += 1

In [9]:
# I'm printing out the avgMonth list to get an idea of the means
print(avgMonth)

[30.967741935483872, 24.035714285714285, 19.193548387096776, 8.2333333333333325, 5.032258064516129, 0.73333333333333328, 0.096774193548387094, 0.12903225806451613, 2.4666666666666668, 10.32258064516129, 16.399999999999999, 26.870967741935484, 33.70967741935484, 26.821428571428573, 19.451612903225808, 13.333333333333334, 3.2580645161290325, 1.6666666666666667, 0.16129032258064516, 0.4838709677419355, 2.6000000000000001, 8.5483870967741939, 17.166666666666668, 22.193548387096776, 27.774193548387096, 24.571428571428573, 18.35483870967742, 13.800000000000001, 5.741935483870968, 1.2333333333333334, 0.12903225806451613, 0.096774193548387094, 2.4333333333333331, 7.645161290322581, 16.800000000000001, 31.548387096774192, 31.580645161290324, 22.689655172413794, 21.741935483870968, 12.1, 5.258064516129032, 0.80000000000000004, 0.096774193548387094, 0.096774193548387094, 3.2999999999999998, 6.833333333333333, 18.517241379310345, 22.333333333333332, 33.645161290322584, 28.214285714285715, 17.258064516129032, 8.5666666666666664, 3.3870967741935485, 1.3999999999999999, 0.0, 0.16129032258064516, 2.8666666666666667, 7.419354838709677, 16.733333333333334, 30.322580645161292, 27.06451612903226, 25.25, 16.870967741935484, 9.5333333333333332, 3.806451612903226, 0.76666666666666672, 0.12903225806451613, 0.58064516129032262, 2.5333333333333332, 8.2258064516129039, 18.333333333333332, 25.29032258064516, 29.29032258064516, 24.892857142857142, 17.967741935483872, 10.233333333333333, 3.4516129032258065, 0.46666666666666667, 0.096774193548387094, 0.38709677419354838, 1.7, 10.483870967741936, 16.266666666666666, 24.677419354838708, 31.93548387096774, 27.172413793103448, 18.677419354838708, 10.966666666666667, 4.129032258064516, 1.3, 0.096774193548387094, 0.19354838709677419, 2.1666666666666665, 10.533333333333333, 16.413793103448278, 26.366666666666667, 24.93548387096774, 29.214285714285715, 18.806451612903224, 11.266666666666667, 5.193548387096774, 0.80000000000000004, 0.0, 0.25806451612903225, 2.6000000000000001, 8.064516129032258, 17.699999999999999, 33.903225806451616, 22.870967741935484, 22.857142857142858, 16.64516129032258, 10.566666666666666, 5.354838709677419, 0.8666666666666667, 0.096774193548387094, 0.096774193548387094, 2.0, 7.903225806451613, 15.1, 25.451612903225808, 29.225806451612904, 22.107142857142858, 17.774193548387096, 9.4000000000000004, 3.5161290322580645, 0.8666666666666667, 0.0, 0.0, 2.9333333333333331, 7.806451612903226, 19.333333333333332, 23.93548387096774, 27.032258064516128, 22.206896551724139, 18.548387096774192, 11.066666666666666, 4.5483870967741939, 1.2666666666666666, 0.29032258064516131, 0.4838709677419355, 2.4666666666666668, 8.9666666666666668, 18.379310344827587, 26.466666666666665, 27.161290322580644, 28.785714285714285, 20.612903225806452, 11.766666666666667, 3.5161290322580645, 1.5, 0.0, 0.16129032258064516, 3.0666666666666669, 9.4838709677419359, 19.366666666666667, 26.29032258064516, 32.41935483870968, 28.428571428571427, 18.483870967741936, 9.6999999999999993, 5.354838709677419, 0.66666666666666663, 0.0, 0.38709677419354838, 1.9333333333333333, 8.387096774193548, 16.0, 23.193548387096776, 26.870967741935484, 26.035714285714285, 17.387096774193548, 12.233333333333333, 5.32258064516129, 1.0333333333333334, 0.096774193548387094, 0.032258064516129031, 2.7000000000000002, 7.225806451612903, 19.600000000000001, 27.774193548387096, 29.93548387096774, 26.137931034482758, 22.387096774193548, 11.699999999999999, 5.387096774193548, 0.83333333333333337, 0.064516129032258063, 0.0, 2.5, 8.5, 20.551724137931036, 24.399999999999999, 29.548387096774192, 23.678571428571427, 17.0, 13.233333333333333, 5.870967741935484, 1.0, 0.096774193548387094, 0.22580645161290322, 1.8999999999999999, 9.1612903225806459, 19.566666666666666, 25.93548387096774, 24.096774193548388, 21.821428571428573, 19.032258064516128, 10.800000000000001, 3.2903225806451615, 1.5333333333333334, 0.0, 0.064516129032258063, 1.1000000000000001, 7.419354838709677, 15.800000000000001, 23.161290322580644, 26.967741935483872, 22.5, 20.06451612903226, 10.533333333333333, 3.935483870967742, 1.0, 0.032258064516129031, 0.064516129032258063, 2.0333333333333332, 8.4193548387096779, 13.333333333333334, 24.29032258064516, 27.70967741935484, 22.103448275862068, 15.32258064516129, 10.666666666666666, 3.4193548387096775, 1.0, 0.12903225806451613, 0.16129032258064516, 2.8333333333333335, 7.5666666666666664, 20.275862068965516, 31.633333333333333, 29.741935483870968, 25.285714285714285, 20.838709677419356, 10.133333333333333, 3.2580645161290325, 1.0333333333333334, 0.12903225806451613, 0.0, 2.3666666666666667, 8.193548387096774, 13.166666666666666, 22.483870967741936, 25.225806451612904, 23.75, 20.129032258064516, 9.8333333333333339, 5.967741935483871, 1.2333333333333334, 0.0, 0.032258064516129031, 1.3333333333333333, 9.870967741935484, 18.666666666666668, 26.096774193548388, 30.193548387096776, 28.464285714285715, 18.129032258064516, 11.466666666666667, 4.838709677419355, 1.3333333333333333, 0.0, 0.032258064516129031, 1.8, 8.0, 16.100000000000001, 25.387096774193548, 30.838709677419356, 27.344827586206897, 15.35483870967742, 10.233333333333333, 3.3870967741935485, 1.0666666666666667, 0.096774193548387094, 0.45161290322580644, 1.4333333333333333, 7.9000000000000004, 16.137931034482758, 28.899999999999999, 27.612903225806452, 24.0, 20.677419354838708, 10.133333333333333, 5.806451612903226, 0.83333333333333337, 0.0, 0.0, 1.0333333333333334, 7.935483870967742, 15.800000000000001, 28.0, 21.64516129032258, 25.535714285714285, 19.06451612903226, 8.9666666666666668, 4.645161290322581, 0.6333333333333333, 0.0, 0.12903225806451613, 2.5333333333333332, 9.7096774193548381, 15.533333333333333, 21.903225806451612, 26.741935483870968, 29.785714285714285, 15.67741935483871, 12.4, 3.3225806451612905, 0.69999999999999996, 0.064516129032258063, 0.16129032258064516, 1.7, 5.967741935483871, 17.166666666666668, 25.258064516129032, 28.258064516129032, 26.03448275862069, 19.225806451612904, 10.533333333333333, 5.5483870967741939, 0.73333333333333328, 0.0, 0.19354838709677419, 1.6666666666666667, 8.9666666666666668, 17.655172413793103, 26.066666666666666, 30.258064516129032, 24.714285714285715, 18.387096774193548, 11.266666666666667, 3.774193548387097, 1.2333333333333334, 0.25806451612903225, 0.25806451612903225, 1.6666666666666667, 10.548387096774194, 14.699999999999999, 27.870967741935484, 29.677419354838708, 28.678571428571427, 17.322580645161292, 8.7666666666666675, 4.5483870967741939, 0.8666666666666667, 0.064516129032258063, 0.16129032258064516, 1.7, 7.419354838709677, 17.266666666666666, 28.741935483870968, 30.548387096774192, 26.107142857142858, 18.322580645161292, 10.133333333333333, 5.193548387096774, 1.1000000000000001, 0.0, 0.0, 1.8666666666666667, 8.1612903225806459, 15.533333333333333, 22.774193548387096, 23.903225806451612, 22.413793103448278, 11.806451612903226, 9.6999999999999993, 2.774193548387097, 1.0666666666666667, 0.0, 0.032258064516129031, 2.1666666666666665, 8.2666666666666675, 17.655172413793103, 21.899999999999999, 26.35483870967742, 26.035714285714285, 20.870967741935484, 11.433333333333334, 4.419354838709677, 0.76666666666666672, 0.096774193548387094, 0.064516129032258063, 2.1333333333333333, 8.2903225806451619, 18.833333333333332, 26.387096774193548, 30.870967741935484, 28.535714285714285, 21.580645161290324, 10.800000000000001, 4.0, 0.66666666666666663, 0.096774193548387094, 0.064516129032258063, 1.9333333333333333, 6.838709677419355, 20.199999999999999, 22.548387096774192, 28.387096774193548, 31.035714285714285, 18.516129032258064, 9.6666666666666661, 3.4838709677419355, 0.56666666666666665, 0.032258064516129031, 0.12903225806451613, 1.0333333333333334, 7.064516129032258, 14.6, 18.451612903225808, 27.967741935483872, 22.275862068965516, 14.225806451612904, 10.133333333333333, 4.838709677419355, 0.5, 0.0, 0.0, 0.66666666666666663, 4.8666666666666663, 13.758620689655173, 25.033333333333335, 24.580645161290324, 19.214285714285715, 17.548387096774192, 8.0, 4.870967741935484, 0.83333333333333337, 0.0, 0.19354838709677419, 1.7, 6.419354838709677, 16.033333333333335, 25.870967741935484]

In [10]:
# Should expect 444 months (12 * 37). It is so we're good here
print(len(avgMonth))

444

In [11]:
# Now, let's print the JanuaryData to get an idea of it
print(JanuaryData)

[28, 29, 33, 37, 38, 33, 31, 36, 37, 36, 39, 41, 38, 33, 30, 32, 34, 33, 28, 26, 26, 27, 25, 25, 24, 22, 22, 25, 28, 31, 33, 27, 29, 28, 25, 27, 28, 29, 35, 37, 44, 48, 45, 41, 39, 38, 38, 44, 42, 33, 29, 29, 32, 31, 33, 35, 35, 35, 30, 28, 26, 25, 29, 28, 29, 31, 28, 24, 22, 22, 24, 22, 21, 26, 29, 27, 27, 31, 32, 35, 37, 37, 34, 30, 26, 25, 26, 28, 29, 28, 26, 24, 24, 34, 30, 28, 25, 23, 23, 25, 28, 27, 29, 35, 38, 36, 34, 36, 38, 37, 38, 42, 46, 47, 43, 34, 27, 22, 23, 24, 26, 26, 26, 29, 23, 26, 31, 32, 30, 29, 27, 30, 34, 34, 35, 38, 36, 33, 34, 36, 33, 31, 33, 43, 49, 42, 36, 32, 30, 35, 35, 33, 34, 34, 35, 27, 26, 23, 25, 28, 31, 34, 37, 33, 26, 25, 24, 26, 32, 32, 27, 21, 16, 17, 20, 21, 21, 25, 27, 26, 27, 34, 38, 33, 30, 27, 28, 28, 28, 28, 29, 27, 24, 26, 28, 27, 28, 28, 25, 23, 23, 27, 32, 31, 30, 32, 33, 33, 36, 39, 36, 35, 35, 32, 28, 24, 25, 31, 33, 34, 33, 39, 42, 43, 41, 39, 39, 38, 33, 31, 37, 36, 30, 25, 23, 23, 24, 26, 30, 31, 29, 29, 34, 36, 33, 28, 22, 18, 27, 26, 25, 29, 31, 28, 25, 25, 29, 29, 26, 25, 27, 30, 27, 26, 25, 22, 21, 22, 29, 28, 24, 22, 21, 22, 22, 23, 21, 18, 18, 26, 28, 25, 23, 23, 25, 25, 23, 21, 20, 20, 23, 29, 28, 22, 18, 17, 17, 23, 25, 24, 24, 22, 19, 19, 23, 24, 22, 23, 24, 24, 33, 30, 31, 33, 31, 27, 28, 31, 30, 28, 28, 27, 28, 27, 24, 22, 23, 25, 24, 24, 31, 39, 36, 32, 36, 36, 31, 27, 27, 28, 29, 27, 24, 22, 21, 22, 23, 24, 25, 24, 24, 27, 26, 24, 24, 33, 39, 37, 35, 38, 35, 30, 26, 23, 25, 30, 30, 28, 25, 24, 22, 21, 27, 31, 27, 21, 22, 26, 27, 26, 28, 32, 32, 29, 26, 28, 29, 28, 28, 30, 32, 30, 25, 22, 22, 23, 26, 29, 27, 26, 27, 30, 26, 28, 25, 26, 29, 32, 32, 32, 35, 37, 35, 31, 27, 26, 31, 39, 43, 38, 39, 47, 44, 40, 34, 29, 24, 23, 26, 30, 27, 27, 32, 37, 26, 30, 34, 37, 39, 35, 29, 29, 28, 27, 24, 19, 15, 15, 16, 20, 22, 23, 23, 24, 27, 29, 30, 31, 30, 29, 28, 27, 29, 30, 28, 22, 25, 31, 35, 36, 37, 39, 39, 35, 31, 31, 30, 27, 24, 24, 26, 21, 21, 28, 35, 33, 29, 27, 26, 30, 31, 27, 31, 31, 31, 35, 21, 18, 14, 14, 17, 25, 30, 32, 32, 31, 37, 42, 42, 40, 35, 32, 40, 43, 39, 32, 26, 22, 22, 25, 26, 30, 30, 29, 33, 31, 26, 32, 24, 18, 17, 17, 16, 16, 18, 21, 26, 27, 27, 26, 29, 29, 26, 25, 26, 27, 28, 28, 27, 26, 25, 26, 26, 24, 23, 22, 22, 23, 33, 34, 32, 37, 41, 37, 33, 33, 31, 35, 34, 29, 25, 29, 29, 26, 21, 19, 21, 21, 20, 18, 17, 18, 23, 25, 22, 20, 22, 25, 26, 22, 18, 15, 18, 26, 29, 26, 26, 22, 19, 19, 21, 23, 29, 29, 24, 26, 29, 28, 29, 35, 36, 32, 32, 33, 35, 38, 39, 36, 34, 31, 36, 38, 37, 33, 29, 27, 27, 28, 32, 33, 29, 27, 28, 26, 25, 26, 29, 30, 28, 31, 35, 33, 31, 29, 30, 32, 30, 30, 28, 23, 22, 35, 34, 34, 34, 29, 26, 28, 30, 25, 19, 20, 23, 24, 24, 25, 26, 27, 28, 30, 30, 27, 23, 21, 19, 22, 22, 20, 18, 18, 19, 22, 22, 24, 26, 27, 26, 25, 28, 25, 19, 23, 31, 32, 31, 31, 33, 34, 34, 39, 37, 31, 30, 33, 38, 41, 36, 31, 35, 34, 27, 28, 25, 22, 20, 17, 20, 26, 34, 37, 34, 32, 36, 34, 27, 25, 28, 30, 32, 29, 28, 33, 35, 34, 32, 33, 33, 33, 34, 34, 36, 35, 36, 37, 18, 19, 19, 19, 22, 27, 28, 26, 24, 22, 22, 20, 19, 24, 32, 34, 36, 38, 34, 29, 29, 32, 36, 37, 30, 25, 29, 34, 33, 30, 29, 20, 19, 19, 20, 21, 24, 26, 22, 19, 21, 19, 17, 18, 22, 27, 26, 23, 23, 22, 19, 21, 25, 24, 22, 24, 26, 24, 20, 18, 18, 22, 21, 23, 22, 17, 16, 15, 20, 20, 23, 27, 26, 24, 23, 24, 24, 30, 36, 33, 29, 31, 31, 30, 29, 28, 30, 32, 29, 31, 35, 35, 35, 29, 35, 38, 32, 24, 18, 14, 14, 18, 20, 20, 21, 24, 27, 30, 31, 31, 30, 34, 39, 37, 33, 33, 36, 37, 33, 27, 25, 24, 30, 32, 31, 27, 25, 26, 28, 26, 24, 26, 27, 28, 28, 28, 30, 34, 38, 41, 37, 30, 29, 33, 34, 29, 25, 30, 36, 35, 33, 30, 30, 30, 30, 30, 35, 38, 37, 36, 34, 34, 37, 39, 38, 35, 32, 30, 27, 24, 23, 23, 22, 23, 23, 23, 24, 23, 21, 21, 27, 28, 28, 34, 36, 35, 25, 28, 31, 30, 29, 29, 30, 33, 35, 36, 36, 35, 35, 33, 30, 29, 28, 26, 26, 30, 34, 36, 36, 35, 30, 28, 27, 26, 25, 26, 30, 18, 25, 31, 29, 24, 19, 19, 21, 22, 21, 21, 24, 29, 30, 31, 27, 23, 28, 30, 30, 28, 26, 22, 20, 21, 19, 18, 23, 23, 22, 17, 30, 32, 33, 31, 29, 27, 27, 25, 21, 21, 20, 19, 23, 27, 30, 27, 25, 27, 23, 24, 30, 34, 33, 32, 31, 29, 27, 23, 17, 16, 24, 30, 31, 37, 34, 29, 36, 45, 39, 32, 25, 18, 20, 20, 21, 25, 26, 27, 29, 26, 23, 32, 38, 40, 39, 32, 29, 31, 40, 38, 35, 30, 33, 29, 25, 23, 30, 32, 35, 40, 37, 36, 32, 29, 32, 34, 30, 26, 26, 22, 21, 23, 25, 26, 26, 24, 23, 26, 27, 26, 26, 27, 29, 27, 28, 27, 30, 33, 30, 26, 24, 23, 26, 33, 32, 32, 27, 24, 25, 30, 36, 36, 33, 30, 31, 31, 30, 27, 24, 24, 25, 24, 21, 18, 24, 23, 21, 26, 33, 38, 40, 39, 34, 25, 20, 18, 23, 26, 25, 23, 21, 20, 19, 18, 16, 17, 19, 21, 21, 23, 27, 27, 26, 25, 24]

In [12]:
""" Now let's print out the mean of the JanuaryData. Since it is a list, first I'm going to convert it to
an array named JanuaryDataArray and use the mean method to print out the mean"""
JanuaryDataArray = np.asarray(JanuaryData)
print(JanuaryDataArray.mean())

28.3121185702

In [13]:
# Finally, let's make sure the JanuaryData has 1147 elements (31 days * 37 years)
print(len(JanuaryData))

1147

In [14]:
# Now the same with the DecemberData
print(DecemberData)

[23, 20, 21, 22, 24, 24, 21, 19, 24, 28, 28, 27, 27, 27, 27, 28, 30, 33, 37, 37, 32, 26, 24, 27, 28, 28, 26, 27, 28, 31, 29, 14, 11, 11, 11, 12, 14, 20, 23, 26, 29, 28, 32, 35, 30, 24, 21, 25, 27, 26, 25, 25, 23, 20, 17, 16, 17, 21, 19, 24, 31, 31, 26, 26, 24, 23, 23, 23, 26, 28, 26, 23, 21, 22, 21, 21, 23, 28, 31, 34, 38, 40, 39, 37, 41, 46, 51, 47, 39, 34, 36, 42, 39, 21, 22, 24, 28, 30, 30, 33, 28, 23, 21, 19, 19, 18, 19, 19, 18, 18, 20, 22, 22, 21, 21, 24, 25, 27, 29, 23, 16, 13, 17, 22, 23, 27, 32, 29, 26, 27, 27, 25, 23, 24, 25, 27, 31, 35, 36, 32, 31, 34, 38, 37, 36, 34, 27, 26, 34, 40, 34, 32, 31, 30, 27, 23, 22, 21, 24, 26, 26, 24, 22, 22, 25, 29, 29, 32, 31, 25, 23, 22, 22, 24, 25, 27, 28, 27, 25, 23, 24, 26, 27, 27, 27, 26, 23, 24, 23, 22, 24, 24, 22, 20, 17, 16, 18, 20, 24, 26, 26, 29, 31, 31, 27, 22, 22, 24, 24, 24, 22, 25, 28, 28, 31, 35, 33, 24, 25, 21, 22, 24, 21, 19, 22, 27, 31, 33, 35, 32, 26, 25, 32, 35, 34, 28, 21, 20, 22, 22, 21, 24, 27, 27, 27, 32, 32, 28, 26, 26, 29, 31, 25, 21, 24, 30, 32, 31, 31, 34, 36, 37, 37, 40, 42, 40, 40, 40, 42, 48, 49, 45, 39, 33, 34, 30, 28, 26, 25, 22, 20, 20, 22, 27, 25, 24, 23, 22, 20, 21, 20, 19, 23, 24, 22, 22, 20, 22, 26, 27, 28, 30, 35, 39, 37, 36, 31, 26, 26, 30, 19, 22, 23, 28, 32, 27, 21, 16, 14, 18, 20, 18, 16, 18, 26, 30, 29, 28, 32, 30, 25, 23, 22, 24, 28, 28, 25, 25, 24, 24, 27, 25, 25, 25, 26, 29, 32, 29, 29, 29, 26, 25, 25, 25, 26, 26, 25, 24, 26, 26, 25, 28, 25, 22, 28, 32, 31, 32, 27, 22, 19, 20, 23, 20, 18, 18, 19, 22, 23, 22, 20, 18, 22, 28, 26, 23, 23, 24, 26, 25, 25, 26, 27, 30, 33, 35, 34, 34, 35, 33, 34, 35, 34, 23, 21, 18, 15, 14, 16, 18, 24, 26, 26, 28, 32, 31, 29, 26, 24, 22, 22, 24, 24, 22, 21, 21, 22, 23, 23, 23, 22, 24, 27, 28, 20, 18, 18, 18, 19, 21, 25, 29, 32, 37, 37, 32, 28, 23, 20, 22, 24, 25, 27, 32, 35, 34, 33, 34, 33, 33, 33, 33, 32, 29, 25, 20, 22, 25, 25, 25, 22, 22, 22, 24, 23, 18, 16, 17, 20, 22, 24, 25, 29, 34, 38, 35, 28, 23, 24, 31, 33, 27, 21, 18, 19, 20, 20, 23, 23, 22, 25, 29, 29, 27, 27, 25, 27, 29, 29, 28, 28, 24, 23, 24, 22, 22, 25, 27, 25, 25, 25, 26, 28, 30, 29, 28, 30, 12, 13, 11, 10, 11, 12, 14, 18, 22, 24, 24, 23, 22, 22, 23, 22, 22, 25, 24, 24, 24, 29, 38, 37, 35, 33, 29, 26, 25, 30, 34, 25, 23, 18, 16, 16, 19, 23, 23, 20, 20, 23, 23, 22, 22, 23, 24, 25, 25, 25, 24, 27, 30, 31, 31, 33, 30, 28, 30, 28, 23, 23, 24, 27, 30, 30, 28, 30, 30, 27, 28, 27, 27, 29, 36, 32, 29, 26, 26, 33, 34, 36, 36, 37, 38, 35, 37, 37, 35, 35, 35, 35, 36, 16, 17, 17, 15, 12, 11, 13, 17, 22, 24, 23, 21, 19, 18, 20, 22, 20, 20, 22, 24, 25, 25, 25, 27, 31, 33, 33, 30, 29, 32, 34, 26, 27, 28, 31, 31, 31, 31, 27, 30, 29, 26, 24, 23, 22, 22, 22, 24, 23, 22, 21, 24, 24, 25, 28, 30, 31, 30, 28, 25, 23, 21, 19, 23, 25, 25, 25, 27, 28, 26, 24, 23, 25, 29, 30, 30, 28, 26, 26, 27, 28, 29, 28, 23, 20, 22, 26, 27, 24, 23, 23, 24, 24, 27, 27, 28, 28, 26, 24, 23, 22, 22, 21, 23, 25, 26, 30, 33, 31, 30, 29, 31, 35, 34, 32, 33, 35, 37, 35, 34, 33, 29, 24, 22, 24, 27, 28, 27, 30, 33, 35, 36, 34, 33, 28, 29, 31, 32, 31, 30, 31, 31, 32, 33, 31, 29, 24, 20, 20, 21, 22, 21, 20, 22, 23, 18, 25, 28, 29, 28, 25, 26, 32, 29, 23, 19, 18, 16, 15, 16, 17, 18, 18, 22, 23, 21, 20, 19, 21, 23, 22, 24, 23, 21, 20, 20, 24, 22, 23, 25, 26, 30, 27, 24, 25, 23, 21, 21, 24, 26, 27, 29, 32, 29, 26, 24, 24, 22, 23, 26, 26, 27, 27, 25, 24, 26, 25, 22, 24, 24, 26, 29, 29, 30, 29, 22, 22, 23, 25, 28, 24, 26, 30, 29, 26, 25, 27, 33, 40, 34, 26, 24, 24, 19, 19, 21, 22, 28, 21, 21, 22, 27, 29, 31, 30, 27, 26, 33, 35, 30, 26, 22, 24, 28, 28, 28, 28, 29, 28, 27, 28, 27, 27, 28, 28, 30, 34, 33, 29, 22, 26, 25, 25, 28, 31, 31, 32, 31, 28, 24, 25, 31, 35, 34, 31, 31, 31, 30, 29, 26, 25, 27, 28, 30, 33, 34, 31, 28, 26, 23, 23, 23, 22, 20, 21, 22, 22, 27, 26, 27, 28, 26, 23, 19, 17, 21, 24, 26, 23, 22, 19, 19, 23, 26, 25, 23, 23, 24, 24, 20, 18, 16, 13, 10, 11, 15, 19, 19, 17, 17, 19, 23, 25, 24, 23, 22, 19, 18, 19, 21, 23, 26, 27, 26, 26, 27, 29, 30, 30, 31, 32, 30, 21, 19, 18, 18, 21, 27, 33, 34, 32, 32, 33, 34, 32, 29, 28, 28, 27, 26, 24, 21, 18, 18, 23, 30, 32, 28, 25, 23, 24, 29, 31, 19, 24, 21, 21, 19, 18, 21, 23, 22, 23, 24, 23, 21, 20, 19, 22, 24, 26, 25, 26, 23, 20, 18, 17, 19, 22, 21, 24, 26, 32, 36, 20, 19, 20, 21, 21, 20, 19, 18, 16, 14, 13, 12, 12, 13, 16, 19, 21, 23, 27, 24, 20, 15, 12, 13, 15, 17, 17, 23, 24, 24, 24, 19, 22, 22, 22, 22, 23, 25, 28, 30, 30, 26, 24, 25, 27, 32, 32, 28, 30, 36, 31, 26, 23, 23, 21, 19, 19, 19, 21, 21, 25, 26, 17, 17, 17, 17, 18, 22, 26, 28, 27, 27, 24, 25, 28, 28, 29, 26, 26, 21, 17, 20, 23, 23, 22, 26, 30, 34, 37, 38, 35, 34, 40]

In [15]:
DecemberDataArray = np.asarray(DecemberData)
print(DecemberDataArray.mean())

25.6669572799

In [16]:
print(len(DecemberData))

1147

In [17]:
# Now let's see the result. I'm expecting 13514 columns (37 years * 365 days + 9 extra days due to leap years)
result

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,20171222,20171223,20171224,20171225,20171226,20171227,20171228,20171229,20171230,20171231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,40,32,32,34,43,53,59,59,57,59
2,45,42,50,59,56,47,42,51,56,52,...,31,25,30,33,43,49,54,53,50,55
3,36,43,51,62,59,48,49,57,55,57,...,29,32,41,47,58,62,60,54,54,60
4,33,40,46,55,47,39,47,48,48,54,...,39,45,47,55,61,64,57,54,62,68
5,24,23,26,27,34,31,23,30,31,31,...,12,7,12,20,21,22,27,26,24,29
6,24,29,28,30,42,36,32,39,35,37,...,9,9,22,33,31,35,37,33,32,39
7,14,17,17,18,22,18,19,20,18,18,...,9,19,19,24,23,28,28,23,19,27
8,22,22,23,23,24,26,26,28,28,27,...,36,33,34,30,32,29,26,24,27,30
9,14,16,14,15,14,15,17,18,17,16,...,23,20,18,17,17,15,13,11,12,15
CONUS,28,29,33,37,38,33,31,36,37,36,...,23,22,26,30,34,37,38,35,34,40

In [20]:
"""Months444 will represent each month for the 444 months when I plot the averages for each month starting
with Month 1 as Jan. 1981 and ending with month 444 """
Months444 = range(1,445)

In [ ]:
# Now I'm going to plot the data 
plt.plot(x_data, avgMonth);