In [11]:
import pandas as pd
import numpy as np

In [12]:
x = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/1981/Population.Heating.txt", delimiter="|", names=(1, 2, 3, 4, 5, 6, 7, 8, "Conv"))

In [13]:
x

,1,2,3,4,5,6,7,8,Conv
0,Product: Daily Heating Degree Days,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Regions: Regions::CensusDivisions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Weights: Population,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Region,19810101.0,19810102.0,19810103.0,19810104.0,19810105.0,19810106.0,19810107.0,19810108.0
4,1,51.0,46.0,55.0,66.0,62.0,51.0,42.0,51.0
5,2,45.0,42.0,50.0,59.0,56.0,47.0,42.0,51.0
6,3,36.0,43.0,51.0,62.0,59.0,48.0,49.0,57.0
7,4,33.0,40.0,46.0,55.0,47.0,39.0,47.0,48.0
8,5,24.0,23.0,26.0,27.0,34.0,31.0,23.0,30.0
9,6,24.0,29.0,28.0,30.0,42.0,36.0,32.0,39.0
10,7,14.0,17.0,17.0,18.0,22.0,18.0,19.0,20.0
11,8,22.0,22.0,23.0,23.0,24.0,26.0,26.0,28.0
12,9,14.0,16.0,14.0,15.0,14.0,15.0,17.0,18.0
13,CONUS,28.0,29.0,33.0,37.0,38.0,33.0,31.0,36.0

In [14]:
x = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/1981/Population.Heating.txt", delimiter="|", skiprows=[0,1,2])

In [15]:
x

,Region,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,...,19811222,19811223,19811224,19811225,19811226,19811227,19811228,19811229,19811230,19811231
0,1,51,46,55,66,62,51,42,51,58,...,40,32,31,34,39,37,36,32,38,44
1,2,45,42,50,59,56,47,42,51,56,...,38,25,28,32,36,34,32,30,37,39
2,3,36,43,51,62,59,48,49,57,55,...,34,36,41,41,36,35,38,45,48,39
3,4,33,40,46,55,47,39,47,48,48,...,36,44,44,42,39,41,47,53,48,44
4,5,24,23,26,27,34,31,23,30,31,...,21,9,12,16,20,19,18,16,21,22
5,6,24,29,28,30,42,36,32,39,35,...,20,15,27,29,24,21,20,22,30,26
6,7,14,17,17,18,22,18,19,20,18,...,6,16,23,26,20,16,13,19,20,16
7,8,22,22,23,23,24,26,26,28,28,...,29,38,38,33,33,32,35,33,29,29
8,9,14,16,14,15,14,15,17,18,17,...,21,22,21,20,19,19,21,21,19,20
9,CONUS,28,29,33,37,38,33,31,36,37,...,26,24,27,28,28,26,27,28,31,29

In [16]:
x = x.set_index('Region')

In [17]:
x

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,19811222,19811223,19811224,19811225,19811226,19811227,19811228,19811229,19811230,19811231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,40,32,31,34,39,37,36,32,38,44
2,45,42,50,59,56,47,42,51,56,52,...,38,25,28,32,36,34,32,30,37,39
3,36,43,51,62,59,48,49,57,55,57,...,34,36,41,41,36,35,38,45,48,39
4,33,40,46,55,47,39,47,48,48,54,...,36,44,44,42,39,41,47,53,48,44
5,24,23,26,27,34,31,23,30,31,31,...,21,9,12,16,20,19,18,16,21,22
6,24,29,28,30,42,36,32,39,35,37,...,20,15,27,29,24,21,20,22,30,26
7,14,17,17,18,22,18,19,20,18,18,...,6,16,23,26,20,16,13,19,20,16
8,22,22,23,23,24,26,26,28,28,27,...,29,38,38,33,33,32,35,33,29,29
9,14,16,14,15,14,15,17,18,17,16,...,21,22,21,20,19,19,21,21,19,20
CONUS,28,29,33,37,38,33,31,36,37,36,...,26,24,27,28,28,26,27,28,31,29

In [18]:
y = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/1982/Population.Heating.txt", delimiter="|", skiprows=[0,1,2])

In [19]:
y = y.set_index('Region')

In [21]:
y

,19820101,19820102,19820103,19820104,19820105,19820106,19820107,19820108,19820109,19820110,...,19821222,19821223,19821224,19821225,19821226,19821227,19821228,19821229,19821230,19821231
Region,,,,,,,,,,,,,,,,,,,,,
1,36,36,45,32,27,37,33,42,48,54,...,37,38,34,26,18,27,23,16,30,34
2,30,35,39,26,27,34,30,41,45,55,...,33,32,23,19,14,26,19,16,31,35
3,40,44,34,32,39,37,47,54,57,72,...,34,23,15,11,20,25,19,35,43,39
4,55,46,48,51,47,53,63,56,61,75,...,28,23,22,29,39,35,39,50,48,41
5,16,17,18,12,17,18,10,16,24,34,...,22,17,11,5,3,5,5,6,16,20
6,22,24,15,13,26,19,16,33,37,47,...,21,12,6,2,4,4,6,20,30,29
7,17,12,7,15,16,8,15,27,26,28,...,5,2,2,7,17,19,21,26,28,26
8,28,35,39,36,31,36,43,40,35,36,...,21,24,32,38,37,37,41,43,42,41
9,22,25,28,26,24,27,30,26,21,19,...,17,20,24,24,22,23,22,24,26,26
CONUS,27,29,28,25,27,28,29,35,37,44,...,23,20,17,16,17,21,19,24,31,31

In [22]:
z = pd.concat([x,y], axis=1)

In [23]:
z

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,19821222,19821223,19821224,19821225,19821226,19821227,19821228,19821229,19821230,19821231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,37,38,34,26,18,27,23,16,30,34
2,45,42,50,59,56,47,42,51,56,52,...,33,32,23,19,14,26,19,16,31,35
3,36,43,51,62,59,48,49,57,55,57,...,34,23,15,11,20,25,19,35,43,39
4,33,40,46,55,47,39,47,48,48,54,...,28,23,22,29,39,35,39,50,48,41
5,24,23,26,27,34,31,23,30,31,31,...,22,17,11,5,3,5,5,6,16,20
6,24,29,28,30,42,36,32,39,35,37,...,21,12,6,2,4,4,6,20,30,29
7,14,17,17,18,22,18,19,20,18,18,...,5,2,2,7,17,19,21,26,28,26
8,22,22,23,23,24,26,26,28,28,27,...,21,24,32,38,37,37,41,43,42,41
9,14,16,14,15,14,15,17,18,17,16,...,17,20,24,24,22,23,22,24,26,26
CONUS,28,29,33,37,38,33,31,36,37,36,...,23,20,17,16,17,21,19,24,31,31