In [1]:
import pandas as pd
import numpy as np

In [26]:
PopulationHeating = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/1981/Population.Heating.txt", delimiter="|", skiprows=[0,1,2])

In [27]:
PopulationHeating = PopulationHeating.set_index('Region')

In [28]:
PopulationHeating

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,19811222,19811223,19811224,19811225,19811226,19811227,19811228,19811229,19811230,19811231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,40,32,31,34,39,37,36,32,38,44
2,45,42,50,59,56,47,42,51,56,52,...,38,25,28,32,36,34,32,30,37,39
3,36,43,51,62,59,48,49,57,55,57,...,34,36,41,41,36,35,38,45,48,39
4,33,40,46,55,47,39,47,48,48,54,...,36,44,44,42,39,41,47,53,48,44
5,24,23,26,27,34,31,23,30,31,31,...,21,9,12,16,20,19,18,16,21,22
6,24,29,28,30,42,36,32,39,35,37,...,20,15,27,29,24,21,20,22,30,26
7,14,17,17,18,22,18,19,20,18,18,...,6,16,23,26,20,16,13,19,20,16
8,22,22,23,23,24,26,26,28,28,27,...,29,38,38,33,33,32,35,33,29,29
9,14,16,14,15,14,15,17,18,17,16,...,21,22,21,20,19,19,21,21,19,20
CONUS,28,29,33,37,38,33,31,36,37,36,...,26,24,27,28,28,26,27,28,31,29

In [29]:
# Want to go from years 1982 to 2017
i = 1982

In [2]:
while(i < 1983):
    x = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/%d/Population.Heating.txt" %(i), delimiter="|", skiprows=[0,1,2])
    x = x.set_index('Region')
    result = pd.concat([PopulationHeating,x], axis=1)
    i += 1

NameError: name 'i' is not defined

In [31]:
result

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,19821222,19821223,19821224,19821225,19821226,19821227,19821228,19821229,19821230,19821231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,37,38,34,26,18,27,23,16,30,34
2,45,42,50,59,56,47,42,51,56,52,...,33,32,23,19,14,26,19,16,31,35
3,36,43,51,62,59,48,49,57,55,57,...,34,23,15,11,20,25,19,35,43,39
4,33,40,46,55,47,39,47,48,48,54,...,28,23,22,29,39,35,39,50,48,41
5,24,23,26,27,34,31,23,30,31,31,...,22,17,11,5,3,5,5,6,16,20
6,24,29,28,30,42,36,32,39,35,37,...,21,12,6,2,4,4,6,20,30,29
7,14,17,17,18,22,18,19,20,18,18,...,5,2,2,7,17,19,21,26,28,26
8,22,22,23,23,24,26,26,28,28,27,...,21,24,32,38,37,37,41,43,42,41
9,14,16,14,15,14,15,17,18,17,16,...,17,20,24,24,22,23,22,24,26,26
CONUS,28,29,33,37,38,33,31,36,37,36,...,23,20,17,16,17,21,19,24,31,31

In [2]:
i = 1982
while(i < 1983):
    x = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/1981/Population.Heating.txt", delimiter="|", skiprows=[0,1,2])
    x = x.set_index('Region')
    y = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/%d/Population.Heating.txt" %(i), delimiter="|", skiprows=[0,1,2])
    y = y.set_index('Region')
    result = pd.concat([x,y], axis=1)
    i += 1

In [3]:
result

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,19821222,19821223,19821224,19821225,19821226,19821227,19821228,19821229,19821230,19821231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,37,38,34,26,18,27,23,16,30,34
2,45,42,50,59,56,47,42,51,56,52,...,33,32,23,19,14,26,19,16,31,35
3,36,43,51,62,59,48,49,57,55,57,...,34,23,15,11,20,25,19,35,43,39
4,33,40,46,55,47,39,47,48,48,54,...,28,23,22,29,39,35,39,50,48,41
5,24,23,26,27,34,31,23,30,31,31,...,22,17,11,5,3,5,5,6,16,20
6,24,29,28,30,42,36,32,39,35,37,...,21,12,6,2,4,4,6,20,30,29
7,14,17,17,18,22,18,19,20,18,18,...,5,2,2,7,17,19,21,26,28,26
8,22,22,23,23,24,26,26,28,28,27,...,21,24,32,38,37,37,41,43,42,41
9,14,16,14,15,14,15,17,18,17,16,...,17,20,24,24,22,23,22,24,26,26
CONUS,28,29,33,37,38,33,31,36,37,36,...,23,20,17,16,17,21,19,24,31,31

# Let us try this one more time with an additional two years

In [1]:
import pandas as pd
import numpy as np

In [2]:
i = 1982
x = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/1981/Population.Heating.txt", delimiter="|", skiprows=[0,1,2])
x = x.set_index('Region')
while(i < 1983):
    y = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/%d/Population.Heating.txt" %(i), delimiter="|", skiprows=[0,1,2])
    y = y.set_index('Region')
    result = pd.concat([x,y], axis=1)
    i += 1

In [3]:
result

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,19821222,19821223,19821224,19821225,19821226,19821227,19821228,19821229,19821230,19821231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,37,38,34,26,18,27,23,16,30,34
2,45,42,50,59,56,47,42,51,56,52,...,33,32,23,19,14,26,19,16,31,35
3,36,43,51,62,59,48,49,57,55,57,...,34,23,15,11,20,25,19,35,43,39
4,33,40,46,55,47,39,47,48,48,54,...,28,23,22,29,39,35,39,50,48,41
5,24,23,26,27,34,31,23,30,31,31,...,22,17,11,5,3,5,5,6,16,20
6,24,29,28,30,42,36,32,39,35,37,...,21,12,6,2,4,4,6,20,30,29
7,14,17,17,18,22,18,19,20,18,18,...,5,2,2,7,17,19,21,26,28,26
8,22,22,23,23,24,26,26,28,28,27,...,21,24,32,38,37,37,41,43,42,41
9,14,16,14,15,14,15,17,18,17,16,...,17,20,24,24,22,23,22,24,26,26
CONUS,28,29,33,37,38,33,31,36,37,36,...,23,20,17,16,17,21,19,24,31,31

# That is good

In [1]:
import pandas as pd
import numpy as np

In [2]:
i = 1982
x = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/1981/Population.Heating.txt", delimiter="|", skiprows=[0,1,2])
x = x.set_index('Region')
while(i < 1984):
    y = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/%d/Population.Heating.txt" %(i), delimiter="|", skiprows=[0,1,2])
    y = y.set_index('Region')
    result = pd.concat([x,y], axis=1)
    x = result
    i += 1

In [3]:
result

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,19831222,19831223,19831224,19831225,19831226,19831227,19831228,19831229,19831230,19831231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,42,36,48,60,58,52,44,31,44,48
2,45,42,50,59,56,47,42,51,56,52,...,36,38,50,61,59,51,39,34,47,49
3,36,43,51,62,59,48,49,57,55,57,...,49,65,72,72,66,54,47,56,63,56
4,33,40,46,55,47,39,47,48,48,54,...,72,77,78,72,61,53,55,65,61,49
5,24,23,26,27,34,31,23,30,31,31,...,19,20,29,45,46,35,22,20,32,37
6,24,29,28,30,42,36,32,39,35,37,...,27,40,50,59,55,44,30,38,51,48
7,14,17,17,18,22,18,19,20,18,18,...,41,45,47,51,46,36,31,40,43,36
8,22,22,23,23,24,26,26,28,28,27,...,44,42,43,38,32,30,39,43,36,29
9,14,16,14,15,14,15,17,18,17,16,...,27,27,24,18,16,17,20,19,16,14
CONUS,28,29,33,37,38,33,31,36,37,36,...,37,41,46,51,47,39,34,36,42,39

In [4]:
# That is a good sign

# Let's know go by ten

In [1]:
import pandas as pd
import numpy as np

In [2]:
x = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/1981/Population.Heating.txt", delimiter="|", skiprows=[0,1,2])
x = x.set_index('Region')

In [3]:
i = 1982
while(i < 1994):
    y = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/%d/Population.Heating.txt" %(i), delimiter="|", skiprows=[0,1,2])
    y = y.set_index('Region')
    result = pd.concat([x,y], axis=1)
    x = result
    i += 1

In [4]:
result

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,19931222,19931223,19931224,19931225,19931226,19931227,19931228,19931229,19931230,19931231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,26,36,45,42,45,56,56,55,51,51
2,45,42,50,59,56,47,42,51,56,52,...,30,36,43,42,45,54,51,52,49,48
3,36,43,51,62,59,48,49,57,55,57,...,39,43,46,49,55,55,54,53,53,47
4,33,40,46,55,47,39,47,48,48,54,...,43,50,50,48,49,52,57,51,49,38
5,24,23,26,27,34,31,23,30,31,31,...,23,24,26,27,29,26,21,22,26,30
6,24,29,28,30,42,36,32,39,35,37,...,31,32,36,34,33,25,21,29,38,37
7,14,17,17,18,22,18,19,20,18,18,...,24,29,27,23,17,12,13,21,26,22
8,22,22,23,23,24,26,26,28,28,27,...,38,38,37,32,29,28,29,30,30,28
9,14,16,14,15,14,15,17,18,17,16,...,23,22,21,20,20,19,20,17,18,18
CONUS,28,29,33,37,38,33,31,36,37,36,...,30,33,35,34,34,35,33,34,35,34

# Let's see with all the dates

In [1]:
import pandas as pd
import numpy as np

In [2]:
x = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/1981/Population.Heating.txt", delimiter="|", skiprows=[0,1,2])
x = x.set_index('Region')

In [3]:
i = 1982
while(i < 2018):
    y = pd.read_table("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/%d/Population.Heating.txt" %(i), delimiter="|", skiprows=[0,1,2])
    y = y.set_index('Region')
    result = pd.concat([x,y], axis=1)
    x = result
    i += 1

In [4]:
result

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,20171222,20171223,20171224,20171225,20171226,20171227,20171228,20171229,20171230,20171231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,40,32,32,34,43,53,59,59,57,59
2,45,42,50,59,56,47,42,51,56,52,...,31,25,30,33,43,49,54,53,50,55
3,36,43,51,62,59,48,49,57,55,57,...,29,32,41,47,58,62,60,54,54,60
4,33,40,46,55,47,39,47,48,48,54,...,39,45,47,55,61,64,57,54,62,68
5,24,23,26,27,34,31,23,30,31,31,...,12,7,12,20,21,22,27,26,24,29
6,24,29,28,30,42,36,32,39,35,37,...,9,9,22,33,31,35,37,33,32,39
7,14,17,17,18,22,18,19,20,18,18,...,9,19,19,24,23,28,28,23,19,27
8,22,22,23,23,24,26,26,28,28,27,...,36,33,34,30,32,29,26,24,27,30
9,14,16,14,15,14,15,17,18,17,16,...,23,20,18,17,17,15,13,11,12,15
CONUS,28,29,33,37,38,33,31,36,37,36,...,23,22,26,30,34,37,38,35,34,40