In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns 

%matplotlib inline

Start data at 1981 and read it into a pandas dataframe. After looking it over I want to create a function where I can loop over the other years and add it to the dataframe.

In [2]:
df = pd.read_csv("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/1981/Population.Heating.txt", delimiter="|", skiprows=[0,1,2])
# Below I am changing the region column as the index instead of the standard 0, 1, ... n
df = df.set_index('Region')

In [3]:
df.head()

,19810101,19810102,19810103,19810104,19810105,19810106,19810107,19810108,19810109,19810110,...,19811222,19811223,19811224,19811225,19811226,19811227,19811228,19811229,19811230,19811231
Region,,,,,,,,,,,,,,,,,,,,,
1,51,46,55,66,62,51,42,51,58,53,...,40,32,31,34,39,37,36,32,38,44
2,45,42,50,59,56,47,42,51,56,52,...,38,25,28,32,36,34,32,30,37,39
3,36,43,51,62,59,48,49,57,55,57,...,34,36,41,41,36,35,38,45,48,39
4,33,40,46,55,47,39,47,48,48,54,...,36,44,44,42,39,41,47,53,48,44
5,24,23,26,27,34,31,23,30,31,31,...,21,9,12,16,20,19,18,16,21,22

What I need to do is create a function that takes the dataframe and puts together all the years

In [11]:
def comb_data(start, end, x):
    for i in range(start, end+1):
        y = pd.read_csv("ftp://ftp.cpc.ncep.noaa.gov/htdocs/degree_days/weighted/daily_data/{}/Population.Heating.txt".format(i), delimiter="|", skiprows=[0,1,2])
        y = y.set_index('Region')
        result = pd.concat([x,y], axis=1)
        x = result
    return(x)

In [15]:
data = comb_data(1982, 2017, df)

In [16]:
data.shape

(10, 13514)